# Primeiros passos com Python

### Uso de variáveis

<div style="text-align: justify">
Os nomes das variáveis devem respeitar certos padrões, como por exemplo iniciar obrigatóriamente com letra, e, se precisar conter números, os mesmos devem se localizar em qualquer posição menos no início do nome da variável.
</div>

In [1]:
# Exemplo de variáveis válidas em Python
var_1 = 12
soma = 45 + 78
path_2_file = "/home/ubuntu/log.txt"
full_path = "/opt/meu_programa/err.txt"
filename = "teste.txt"

<div style="text-align: justify">
Por padrão, devemos evitar alguns nomes de variáveis, pois além de serem inesperadas (iniciar com números e conter espaços), palavras reservadas à linguagem (True, False, print, etc) devem ser evitadas, pois podem conflitar com o próprio funcionamento do Python.
</div>

In [2]:
# Exemplo de variáveis inválidas em Python
2_check_if_exists
full path
True
not
class
def
print
sum

SyntaxError: invalid decimal literal (656585519.py, line 2)

<div style="text-align: justify">
Desta forma, devemos compreender que certas palavras são reservadas ao interŕetador Python, e podem tanto ser associadas a funções (print, sum, etc) quanto valores que auxiliam na direção que um determinado pode tomar (booleanos). Sobreescrever tais palavras podem causar erros de funcionamento de um programa e, para programadores iniciantes, tais erros podem ser difíceis de identificar.
</div>

### Um pouco mais sobre formas de se usar o print

<div style="text-align: justify">
    Conforme vimos anteriormente, a função <em>print</em> recebe um argumento e imprime o valor que este argumento (uma variável) contém. Por exemplo:
</div>

In [3]:
valor_1 = 43
valor_2 = 1
soma = valor_1 + valor_2
print(f"O valor da soma de {valor_1} + {valor_2} é igual a {soma}")

O valor da soma de 43 + 1 é igual a 44

<div style="text-align: justify">
Conforme podemos ver, <em>valor_1</em>, <em>valor_2</em> e <em>soma</em> são variáveis que armazenam valores do tipo inteiro. A variável soma, armazena o valor da operação de adição entre os números <em>43</em> e <em>1</em>. Dentro da função print, podemos fornecer múltiplos tipos, como cadeias de caractéres (strings), inteiros (int ou integers), números flutuantes (float), etc. Além disso, podemos utilizar formatadores de strings para perssonalizar o texto que é impresso. No exemplo acima, o formator utilizado é o f-string, o qual é representado pela letra <em>f</em>. Note que as variáveis são envolvidas por chaves ("{}"), sendo que a f-string reconhece as variávies nesta situação e, por isso, consegue exibir o resultado do print da forma esperada.
<div>

### Operações matemáticas com inteiros e números flutuantes

<div style="text-align: justify">
Python é capaz de realizar operações de matemáticas de forma simples. A seguir, veremos algumas operações corriqueiras que são bem simples de serem feitas.
</div>

In [4]:
# Multiplicação
20 * 40

800

In [5]:
# Divisão
100 / 2

50.0

In [6]:
# Subtração
80 - 40

40

In [7]:
# Exponenciação
2 ** 4

16

In [8]:
# Divisão inteira
20 // 5

4

In [9]:
# Resto da divisão inteira -> Também conhecido como Módulo
10 % 3

1

In [10]:
# Ordem em que as operações devem ser realizadas -> uso de parênteses
1500 + (1000*5 / 100) * (20 % 3) - 2

1598.0

In [11]:
# 20% de R$ 4.000,15
(20 / 100) * (4000.15)

800.0300000000001

In [12]:
# Operações com números flutuantes
( 0.50 + 4568 ) / 10

456.85

In [13]:
# Operações matemáticas com uso de variáveis
num1 = 2
num2 = 100
res_mult = num1 * num2
print(res_mult)

200

In [14]:
# Operações matemáticas com uso de variáveis
num1 = 500
num2 = 10
res_mult = num1 / num2
print(res_mult)

50.0

<div style="text-align: justify">
Desta forma, quando trabalhamos com valores numéricos, podemos formatar as saídas das avaliações de forma apropriada utilizando 'f string' ou o 'format'. Isso nos lembra do nosso exemplo na Aula 001, onde tínhamos o requisito de calcular a equivalência em Celsius a partir de uma temperatura em Fahrenheit. Naquele exemplo, o resultado tinha ficado estranho, com um valor muito extenso: 123.88888888888889. Desta forma, podemos formatar a saída para 2 casas decimais após a vírgula, da segunte forma:
</div>

In [15]:
# Usando f string
fahrenheit = 255
celsius = ( fahrenheit - 32 ) * 5/9

print(f"O valor de °F convertido em °C é: {celsius:.2f}")

O valor de °F convertido em °C é: 123.89

In [16]:
# Usando format, para precisão com 4 casas decimais após a vírgula
# (32 °F − 32) × 5/9 = 0 °C
fahrenheit = 255
celsius = ( fahrenheit - 32 ) * 5/9

print("O valor de °F convertido em °C é: {0:.4f}".format(celsius))

O valor de °F convertido em °C é: 123.8889

### Operações com string

<div style="text-align: justify">
Variáveis do tipo string armazenam cadeias de caracteres que representam nomes ou textos longos. Cadeias de caracteres é uma sequência de símbolos como letras, números, sinais de pontuação, etc. Podemos fazer inúmeras operações com strings, como duplicar um texto, trocar um segmento de etxto por outro e remover determinados símbolos ("\n", "\t", etc). Vejamos alguns exemplos:
</div>

In [17]:
# Operação que realiza a duplicação de um texto existente
texto = "Este é um texto simples, o qual não é muito grande"

texto * 2

'Este é um texto simples, o qual não é muito grandeEste é um texto simples, o qual não é muito grande'

In [18]:
# Operação de substituição de padrão textual por algo qualquer
texto2 = "Algum texto que contém um caratere a ser removido"

texto2.replace(" removido", "----->removido o 'removido'")

"Algum texto que contém um caratere a ser----->removido o 'removido'"

In [19]:
texto3 = "\n\n\n\nUm texto \t\t\t\t\t\tmuito bagunçado, que deve ser arrumado\n"

texto3.strip("\n").replace("\t", "")

'Um texto muito bagunçado, que deve ser arrumado'

In [20]:
# Concatenação de strings
texto4 = "Um texto 4"
texto5 = " que deve ser o último exemplo até aqui!"

texto4 + texto5

'Um texto 4 que deve ser o último exemplo até aqui!'

<div style="text-align: justify">
Uma string pode ser avaliada sobre outro ponto de vista. Por exemplo, a string <strong>João e Maria comem pão</strong> é uma sequência de caracteres que pode ser ilustrada da sequinte forma:
</div>

 --- --- --- - --- - --- --- --- --- --- - --- --- --- --- --- - --- --- ---
* 00: J
* 01: o
* 02: ã
* 03: o
* 04: espaço
* 05: e
* 06: espaço
* 07: M
* 08: a
* 09: r
* 10: i
* 11: a
* 12: espaço
* 13: c
* 14: o
* 15: m
* 16: e
* 17: m
* 18: espaço
* 19: p
* 20: ã
* 21: o
 --- --- --- - --- - --- --- --- --- --- - --- --- --- --- --- - --- --- ---

<div style="text-align: justify">
Na representação da frase "João e Maria comem pão" acima, cada posição, iniciando de zero, representa um espaço na memória do computador (mesmo os espaços). Assim, podemos recuperar cada letra da frase usando essas posições como index, como no exemplo que se segue:
</div>

In [21]:
frase = 'João e Maria comem pão'

# Essa representação, recupera a letra na posição 0, que é J
frase[0]

'J'

In [22]:
# Essa representação, recupera a letra na posição 10, que é i
frase[10]

'i'

In [23]:
# Essa representação, recupera a letra na posição -1, que é o
frase[-1]

'o'

In [24]:
# Essa representação, recupera a letra na posição -3, que é p
frase[-3]

'p'

<div style="text-align: justify">
Assim como podemos recuperar letras que estão armazenadas em posições de uma variável, também podemos checar o comprimento de uma string:
</div>

In [25]:
print(f'A string analisada é: {frase}')
print("O comprimento da string é: {0} posições".format(len(frase)))

A string analisada é: João e Maria comem pão
O comprimento da string é: 22 posições

<div style="text-align: justify">
Outros métodos de string que pode ser usados são os seguintes:
</div>

In [26]:
# Este método separa uma string em partes, onde o default é por espaço
print(f"Split: {frase.split()}")
print(f"Medindo o comprimento do objeto após aplicar o método split: {len(frase.split())}")

Split: ['João', 'e', 'Maria', 'comem', 'pão']
Medindo o comprimento do objeto após aplicar o método split: 5

In [27]:
# Se trocarmos o valor default do método split, ele separa uma string com base nesse padrão
print(f"Split: {frase.split('Maria')}")
print(f'Medindo o comprimento do objeto após aplicar o método split: {len(frase.split("Maria"))}')

Split: ['João e ', ' comem pão']
Medindo o comprimento do objeto após aplicar o método split: 2

<div style="text-align: justify">
Mas podemos, de forma intensional, tentar recuperar alguma posição que não existe no objeto frase. Se isso acontecer, Python irá exibir um erro apropriado (<strong>IndexError</strong>), que indica erro de índice (posição) inexistente:
</div>

In [28]:
frase[25]

IndexError: string index out of range

<div style="text-align: justify">
Outro erro comum quando começamos a trabalhar com operações de objetos em Python, é cometer o erro de tentar fazer operações com objetos do tipo string e numérico ao mesmo tempo. Caso isso ocorra, um erro apropriado será levantado (<strong>TypeError</strong>):
</div>

In [29]:
valor_string = "Olá mundo"
valor_numerico = 100000
resultado_operacao = valor_string + valor_numerico

TypeError: can only concatenate str (not "int") to str

<div style="text-align: justify">
Assim, com o que apredemos até aqui, podemos misturar variáveis de tipos string com numéricas e formatar a saída de uma mensagem da forma que quisermos:
</div>

In [30]:
nome = "João"
idade = 22
dinheiro = 145222.5858785555455
data = "30/11/2022"

msg1 = f"O cliente {nome} possuí {idade} anos."
msg2 = "  ->Seu saldo é de US$ {0:,.4f} em {1}".format(dinheiro, data)

print(msg1)
print(msg2)

O cliente João possuí 22 anos.
  ->Seu saldo é de US$ 145,222.5859 em 30/11/2022

### Variáveis do tipo lógico

<div style="text-align: justify">
Em alguns momentos, é natural que algum trecho de código tenha que realizar algum tipo de comparação, onde o valor desta operação deverá ser verdadeiro ou falso. Em Python, estes resultados são representados pelos tipos booleanos True e False.
</div>

In [31]:
5 > 2

True

In [32]:
3 > 1000

False

<div style="text-align: justify">
Assim como visto para dados do tipo string e numéricos, variáveis do tipo lógico também pode ser atribuídos a variáveis.
</div>

In [33]:
verdadeiro = True
falso = False

In [34]:
print(verdadeiro)

True

In [35]:
print(falso)

False

### Operadores relacionais

<div style="text-align: justify">
Operadores relacionais são utilizados quando queremos comparar conteúdos de dois objetos. Por exemplo:
</div>

In [36]:
var1 = True
var2 = True

if var1 == var2:
    print("As duas variáveis contém o mesmo valor: var1 ({0}) = var2 ({1}).".format(var1, var2))
else:
    print("As duas variáveis contém valores distintos: var1 ({0}) != var2 ({1}).".format(var1, var2))

As duas variáveis contém o mesmo valor: var1 (True) = var2 (True).

<div style="text-align: justify">
Como podemos ver a seguir, as variáveis a serem comparadas podem conter qualquer valor, não necessiariamente booleanos.
</div>

In [37]:
var1 = 1
var2 = 10000

if var1 == var2:
    print(f"As duas variáveis contém o mesmo valor: var1 ({var1}) = var2 ({var2}).")
else:
    print(f"As duas variáveis contém valores distintos: var1 ({var1}) != var2 ({var2}).")

As duas variáveis contém valores distintos: var1 (1) != var2 (10000).

<div style="text-align: justify">
Outros exemplos, mais simples, são estes:
</div>

In [38]:
a = 1
b = 5
c = 2
d = 1

In [39]:
# a igual a b
a == b

False

In [40]:
# d menor do que a
d < a

False

In [41]:
# c menor ou igual a d
c <= d

False

In [42]:
# b maior ou igual a c
b >= c

True

In [43]:
# d diferente do que a
d != a

False

In [44]:
# d diferente de b
d != b

True

<div style="text-align: justify">
Tabela contendo todos os símbolos dos operadores relacionais válidos (Para saber mais, clique <a href="http://arquivo.devmedia.com.br/artigos/devmedia/html-entities.html">aqui</a>):
</div>

<table style="width:60%">
    <tr>
        <th style="text-align: center; vertical-align: middle;">Operador</th>
        <th style="text-align: center; vertical-align: middle;">Operação</th>
        <th style="text-align: center; vertical-align: middle;">Símbolo matemático</th>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">==</td>
        <td style="text-align: center; vertical-align: middle;">igualdade</td>
        <td style="text-align: center; vertical-align: middle;">=</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">></td>
        <td style="text-align: center; vertical-align: middle;">maior que</td>
        <td style="text-align: center; vertical-align: middle;">></td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;"><</td>
        <td style="text-align: center; vertical-align: middle;">menor que</td>
        <td style="text-align: center; vertical-align: middle;"><</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">!=</td>
        <td style="text-align: center; vertical-align: middle;">diferente</td>
        <td style="text-align: center; vertical-align: middle;">&ne;</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">>=</td>
        <td style="text-align: center; vertical-align: middle;">maior ou igual</td>
        <td style="text-align: center; vertical-align: middle;">&ge;</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;"><=</td>
        <td style="text-align: center; vertical-align: middle;">menor ou igual</td>
        <td style="text-align: center; vertical-align: middle;">&le;</td>
    </tr>
</table>

### Operador and

<div style="text-align: justify">
O operador <strong>and</strong> pode ser representado em forma de tabela, conhecida como <strong>tabela verdade</strong>.
</div>

<table style="width:60%">
    <tr>
        <th style="text-align: center; vertical-align: middle;">V<sub>1</sub></th>
        <th style="text-align: center; vertical-align: middle;">V<sub>2</sub></th>
        <th style="text-align: center; vertical-align: middle;">V<sub>1</sub> e V<sub>2</sub></th>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
    </tr>
</table>

<div style="text-align: justify">
Desta forma, em Python, podemos fazer essas combinações conforme especificado na tabela verdade para verificarmos algumas condições lógicas entre os booleanos:
<div>

In [45]:
True and True

True

In [46]:
True and False

False

In [47]:
False and True

False

In [48]:
False and False

False

### Operador or

<div style="text-align: justify">
Assim como a tabela do and, a tabela verdade do or tambpem pode ser representada da seguinte forma:
</div>

<table style="width:60%">
    <tr>
        <th style="text-align: center; vertical-align: middle;">V<sub>1</sub></th>
        <th style="text-align: center; vertical-align: middle;">V<sub>2</sub></th>
        <th style="text-align: center; vertical-align: middle;">V<sub>1</sub> ou V<sub>2</sub></th>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
        <td style="text-align: center; vertical-align: middle;">True</td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
        <td style="text-align: center; vertical-align: middle;">False</td>
    </tr>
</table>

<div style="text-align: justify">
Desta forma, em Python, esta tabela verdade do or pode ser representada da seguinte forma:
</div>

In [49]:
True or True

True

In [50]:
True or False

True

In [51]:
False or True

True

In [52]:
False or False

False

### Expressões lógicas

<div style="text-align: justify">
Conhecendo as combinações que os operadores lógicos podem proporcionar, podemos fazer códigos de comparação bem inteligentes. Tal abordagem, permitirá comparar dois ou mais valores, direcionando o fluxo de execução de nossos programas conforme determinadas condições são atendidas. Os operadores lógicos podem ser combinados em expressões lógicas mais complexas. Nesses casos, devemos ter consciência de que existe precedência de avaliação entre operadores. Por exemplo, quando uma expressão está sendo avaliada, a expressão que contiver <strong>not (não)</strong> será avaliado primeiro, seguido do operador <strong>and (e)</strong> e, finalmente, <strong>or (ou)</strong>:
</div>

* True or False and <u>not True</u>
* True or <u>False and True</u>
* <u>True or False</u>
* True

<div style="text-align: justify">
Uma forma mais profissional de se usar operadores lógicos será exemplificada a seguir. Na situação seguinte, coletamos a idade de três pessoas:
</div>

In [53]:
pessoa1 = 58
pessoa2 = 15
pessoa3 = 25

<div style="text-align: justify">
A partir disso, temos como requisito identificar qual dessas pessoas é menor de idade, considerando que a maioridade no Brasil é para idades iguais ou superiores a 18 anos:
</div>

In [54]:
# Idade limite
idade_limite = 18

In [55]:
# Pessoa 1
if pessoa1 >= idade_limite:
    print("A pessoa 1 é maior de idade ({pessoa1} anos)".format(pessoa1=pessoa1))
else:
    print("A pessoa 1 é menor de idade ({pessoa1} anos)".format(pessoa1=pessoa1))

A pessoa 1 é maior de idade (58 anos)

In [56]:
# Pessoa 2
if pessoa2 >= idade_limite:
    print("A pessoa 2 é maior de idade ({0} anos)".format(pessoa2))
else:
    print("A pessoa 2 é menor de idade ({0} anos)".format(pessoa2))

A pessoa 2 é menor de idade (15 anos)

In [57]:
# Pessoa 3
if pessoa3 >= idade_limite:
    print(f"A pessoa 3 é maior de idade ({pessoa3} anos)")
else:
    print(f"A pessoa 3 é menor de idade ({pessoa3} anos)")

A pessoa 3 é maior de idade (25 anos)